{% extends 'base.html' %}

{% block title %}Upload File{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="height: 80vh;">
  <div class="col-6">
    <h1 class="text-center">Scan the Ingredients</h1>
    <div class="mb-3">
      <label for="image-upload" class="form-label">Drop your image:</label>
      <input type="file" class="form-control" id="image-upload" name="file" accept=".jpg, .png, .jpeg">
    </div>
    <div class="text-end mt-4">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </div>
</div>
{% endblock %}
